/* Global Reset */
/* #primary color: #9d426b */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'tailwindcss';
@import './header.css';
@import './carousel.css';
@import './welcome-section.css';
@import './donation.css';
@import './courses.css';
@import './event.css';
@import './daily-hadis.css';
@import './donation-home-page-section.css';

body {
    font-family: 'Roboto', sans-serif;
}
