
@import "./carousel.css";
@import "./courses.css";
@import "./daily-hadis.css";
@import "./donation-home-page-section.css";
@import "./donation.css";
@import "./event.css";
@import "./header.css";
@import "./carousel.css";
@import "./welcome-section.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

